body {
	font-family: "Raleway", sans-serif;
}
.main-container {
	max-width: 1440px;
	margin: 0 auto;
	width: 100%;
	padding: 0 50px;
	box-sizing: border-box;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
header ul {
	display: flex;
	flex-direction: row;
	gap: 68px;
}
header a:hover {
	border-top: 2px solid #0065fc;
	color: #0065fc;
	padding-top: 10px;
}
.active {
	border-top: 2px solid #0065fc;
	color: #0065fc;
	padding-top: 10px;
}
header img {
	height: 19px;
	width: 61.09px;
}
#booki {
	align-self: flex-end;
}
.nav-title {
	font-size: 22px;
	font-weight: 700;
}
.nav-subtitle {
	font-size: 16px;
	font-weight: 400;
}
.header-options {
	display: flex;
	justify-content: end;
	text-align: center;
	gap: 20px;
}
.search-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 35px 0px 35px 0px;
}
.pin-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f2f2f2;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	height: 49px;
	width: 50px;
}
.search-group input,
button {
	padding: 15px;
}
input #search-bar {
	padding: 15px;
}
.search-group button {
	margin: 0;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	background-color: #0065fc;
	color: #ffffff;
	border: none;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
button svg {
	display: none;
}
.filter-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
	font-size: 18px;
	font-weight: 700;
}
.filter-options {
	display: flex;
	flex-direction: row;
	gap: 15px;
}
.filter-button {
	display: flex;
	align-items: center;
	background-color: white;
	border: 2px solid #d9d9d9;
	border-radius: 25px;
	padding: 12px 19px 12px 19px;
	margin: 0px;
	gap: 10px;
	font-size: 17px;
	font-weight: 700;
	transition: background-color 0.3s ease-in-out;
}
.filter-button:hover {
	background-color: #deebff;
	cursor: default;
}
.filter-button svg {
	flex-basis: 22px;
	flex-grow: 0;
	flex-shrink: 0;
}
.infobar {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 35px 0px 35px 0px;
}
.accommodation-and-popular {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 30px;
	margin-top: 35px;
}
.accommodation,
.popular {
	background-color: #f2f2f2;
	padding: 30px;
	border-radius: 20px;
}
.things-to-do {
	padding: 30px;
	margin-top: 35px;
}
.popular-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.section-title {
	font-size: 22px;
}
.card {
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-title {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 4px;
}
.card-subtitle {
	font-size: 14px;
	margin: 0;
}
.card-container-accommodation img {
	width: 100%;
	height: 136px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.accommodation-subtitle {
	font-size: 18px;
	font-weight: 700;
	margin: 0;
	padding-top: 30px;
}
.card-container-popular .card {
	display: flex;
}
.card-container-popular .card-content {
	width: 67%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}
.card-container-popular img {
	width: 33%;
	height: 136px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.card-container-ttd img {
	width: 100%;
	height: 380px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.card-container-accommodation {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}
.card-container-popular {
	display: grid;
	grid-template-columns: 1fr;
	gap: 30px;
}
.card-container-ttd {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 30px;
}
.card-container-ttd .card {
	padding: 0px;
}
.card-content {
	padding-left: 15px;
}
.ttd-subtitle {
	padding: 20px 19px 20px 19px;
	margin: 0;
	font-size: 16px;
	font-weight: 700;
}
.card img {
	object-fit: cover;
}
a {
	text-decoration: none;
	color: #000;
	margin: 0;
}
footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: #d9d9d9;
	margin-top: 35px;
	padding: 30px;
}
ul {
	font-size: 16px;
	list-style-type: none;
	padding-inline-start: 0px;
}
.star-filled {
	color: #0065fc;
}
.star-empty {
	color: gray;
}
.dollar {
	font-weight: bold;
}
@media screen and (max-width: 1024px) {
	.filter-bar {
		flex-direction: column;
		align-items: start;
	}
	.accommodation-and-popular {
		grid-template-columns: 1fr;
	}
	.card-container-popular {
		grid-template-columns: repeat(3, 1fr);
	}
	.card-container-ttd img {
		height: 200px;
	}
}
@media screen and (max-width: 580px) {
	.main-container {
		padding: 0px;
	}
	header {
		flex-direction: column;
		align-items: center;
	}
	header a:hover {
		border-top: none;
		border-bottom: 2px solid #0065fc;
		color: #0065fc;
		padding-top: 0;
	}
	.active {
		border-top: none;
		border-bottom: 2px solid #0065fc;
		color: #0065fc;
		padding-top: 0;
	}
	#booki {
		align-self: center;
	}
	header ul {
		gap: 0;
		width: 100%;
	}
	header li {
		flex-basis: 50%;
	}
	header a {
		display: block;
		border-bottom: 2px solid lightgray;
		text-align: center;
		padding-bottom: 10px;
	}
	nav {
		padding: 0px 20px;
	}
	.filter-options {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}
	.search-group button {
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}
	button svg {
		display: block;
	}
	button span {
		display: none;
	}
	.accommodation-and-popular,
	.card-container-accommodation,
	.card-container-popular,
	.card-container-ttd,
	.footer {
		grid-template-columns: 1fr;
	}
	.accommodation-and-popular {
		grid-template-areas:
			"p"
			"a";
		margin: 0;
		gap: 0;
	}
	.accommodation,
	.popular {
		border-radius: 0px;
	}
	.accommodation {
		grid-area: a;
		background-color: white;
	}
	.popular {
		grid-area: p;
	}
	.card-container-ttd img {
		height: 136px;
	}
	.things-to-do {
		margin: 0px;
	}
	footer {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}
